requests
colorama
pillow
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
googletrans==4.0.0rc1
urllib3
pybase64
pil-tools
gtts
pytchat
pyjokes
datetime
wikipedia
emoji
pyttsx3
playsound==1.2.2
pyfiglet
winshell
